{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>
            SFFRG
        </title>
        <!--Checks to see if user is authenticated-->
        {% if request.user.is_authenticated %}
            <div>
                <p>
                    <a href="{% url 'sffrg:home' %}">home</a> |
                    <a href="{% url 'logout' %}">logout</a> |
                    <a href="{% url 'account' %}">Profile</a>
                </p>
                <!--Searches url files for 'logout'-->
                Hello, {{request.user.first_name}}
            </div>
        {% else %}
            <div>
                <a href="{% url 'sffrg:home' %}">home</a> |
                <a href="{% url 'register' %}">Register</a> |
                <a href="{% url 'login' %}">login</a>
            </div>
        {% endif %}
    </head>
    <body>
        {% block content %}

        {% endblock content %}
    </body>
    <footer>
        <hr>
        <p>
            Made by Michael Emefele | 2019
        </p>
    </footer>
</html>