{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'sffrg/style.css' %}">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

        <title>
            SFFRG
        </title>
        <!--Checks to see if user is authenticated-->
    </head>
    <body>
        <div class="mainContentWrapper" id="">
            <!-- Title bar -->
            <div class="container-fluid" id="titleBar">
                <a href="#" id="menu-toggle">
                    <!-- Title bar reactive menu button-->
                    <div class="container-fluid" id="menuIcon">
                        <div class="container-fluid" id="menuLineTop"></div>
                        <div class="container-fluid" id="menuLineMid"></div>
                        <div class="container-fluid" id="menuLineBot"></div>
                    </div>
                </a>
                <a href="{% url 'sffrg:home' %}" id="home">
                    <div class="container-fluid" id="title_bar_Logo">
                        SFFRG
                    </div>
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" id="inlineLogout">
                        <button type="button" class="btn btn-outline-primary" id="logoutButton">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </button>
                    </a>
                    <a href="{% url 'accounts:account' %}" id="inlineAccount">
                        <button type="button" class="btn btn-outline-primary" id="accountButton">
                            <i class="fas fa-user-circle"></i>
                            Profile
                        </button>
                    </a>
                {% else %}

                {% endif %}
            </div>


            <!-- sidebar wrapper-->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{% url 'sffrg:home' %}">
                            SFFRG
                        </a>
                    </li>

                    <!--Checks to see if user is authenticated-->
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'accounts:account' %}">
                                <i class="fas fa-user-circle"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">
                                <i class="fas fa-users"></i>
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:register' %}">
                                <i class="fas fa-building"></i>
                                Register
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>


            <div class="container-fluid" id="main">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <hr id="footerDivider">
        <p id="footerContent">
            Made by Michael Emefele | 2019
        </p>

        <script src="/static/js/app.js"></script>

    </body>
</html>