{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sffrg/style.css' %}">

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>
            SFFRG
        </title>

    </head>
    <body>
        <div class="mainContentWrapper" id="">
            <!-- Title bar -->
            <div class="container-fluid" id="titleBar">
                <a href="#" id="menu-toggle">
                    <!-- Title bar reactive menu button-->
                    <div class="container-fluid" id="menuIcon">
                        <div class="container-fluid" id="menuLineTop"></div>
                        <div class="container-fluid" id="menuLineMid"></div>
                        <div class="container-fluid" id="menuLineBot"></div>
                    </div>
                </a>
                <div class="container-fluid" id="title_bar_Logo">

                </div>
            </div>
            <!-- sidebar wrapper-->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{% url 'sffrg:home' %}">
                            SFFRG
                        </a>
                    </li>
                    {% include 'snippets/header.html' %}
                </ul>
            </div>

            <!-- Main body portion -->
            <div class="container-fluid" id="main">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

        {% include 'snippets/footer.html' %}
        <script src="/static/js/app.js"></script>
    </body>
</html>
