{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="authenticationOuter">
    <div class="container-fluid" id="candidateBox">
        <h2 id="">
            Candidates
        </h2>
        {% if voted == 0 %}
            <div class="form-row">
                {% for candidate in candidates %}
                    <div class="col-6" id="candidateColumns">
                        <div class="card" id="candidateCard">
                            <img src="{{ candidate.avatar.url }}" id="candImg">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ candidate.full_name }}
                                </h5>
                                <p class="card-text">
                                    {{ candidate.state }} {{ candidate.party }} Candidate
                                </p>
                                <p id="lmP">
                                    <button href="#" class="btn btn-primary" id="learnMore" data-toggle="modal" data-target='#{{candidate.full_name|cut:" "}}'>
                                        Learn More
                                    </button>
                                </p>
                                <a href="{% url 'sffrg:vote' candidate.id %}">
                                    <button class="btn btn-primary" id="candVote">
                                        Vote
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% elif voted == 1 %}
            You've already voted for this position!
            <br>
        {% endif %}
    </div>
</div>


<!-- Modal -->
{% for candidate in candidates %}
    <div class="modal fade" id="{{candidate.full_name|cut:" "}}" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="{{ candidate.avatar.url }}" id="modalImg">
                    <h5 class="modal-title" id="ModalLabel">
                        {{candidate.full_name}} - {{candidate.party}} Candidate
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{candidate.description|safe}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    {% if candidate.website  %}
                        <a href="{{candidate.website}}">
                            <button type="button" class="btn btn-primary">
                                Go to website
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type = "text/javascript">
   function submitCandidates()
   {
        var ele = document.getElementsByName('choice');

        for(var i = 0; i < ele.length; i++)
        {
            if(ele[i].checked)
            {
                open(ele[i].value,'_self');
            }
        }
    }

</script>
{% endblock content%}

