{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>
            {{ question.question_text }}
        </h1>

        {% if error_message %}
            <p>
                <strong>
                    {{ error_message }}
                </strong>
            </p>
        {% endif %}
        <!--
        -->
        <form action="{% url 'sffrg:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">
                        {{ choice.choice_text }}
                    </label>
                    <br>
            {% endfor %}
            <input type="submit" value="Vote">
        </form>
    {% else %}
            <p>
                You are not logged in
            </p>
            <a href="{% url 'login' %}">
                login
            </a>
    {% endif %}
{% endblock content %}

{% if voted == 0 %}
        <form action= "position/{{position.id}}" method="post">
            {% csrf_token %}
            {% for candidate in candidates %}
                 <input type="radio" name="candidate" id="{{candidate.id}}" value="{{candidate.id}}">
                    <label for="{{candidate.id}}">
                        {{ candidate.full_name }}
                        {{ candidate.votes }}
                    </label>
                    <br>
            {% endfor %}
            <input type="submit" value="Vote">
        </form>
    {% elif voted == 1 %}
        You've already voted for this position!
        <br>
    {% endif %}