{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="authenticationOuter">
    <div class="container-fluid" id="authenticationBox">
        <h2 id="">
            {{ user.state }} Elections
        </h2>
        {% for election in elections %}
            <a href="{% url 'sffrg:position' election.id %}">
                <button type="button" class="btn btn-outline-primary" id="elecButton">
                    {{ election.title }}
                    <!--{{ election.total_votes }}-->
                </button>
            </a>

        {% endfor %}
    </div>
 </div>
{% endblock content%}
