{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="authenticationOuter">
    <div class="container-fluid" id="authenticationBox">
        <h2 id="">
            Positions
        </h2>

<!--        {{ positions.0.title }}-->
        {% for position in positions %}
            <a href="{% url 'sffrg:candidate' position.id %}">
                <button type="button" class="btn btn-outline-primary" id="elecButton">
                    {{ position.title }}
                </button>
            </a>

        {% endfor %}
    </div>
</div>
{% endblock content%}
