{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="authenticationOuter">
    <div class="container-fluid" id="authenticationBox">
        <h2 id="">
            Confirmation
        </h2>
        {% if voted == 0 %}
            <form method=POST action="">
                {% csrf_token %}
                 {{ position_id }}
                <h2 id="confirmText">
                    Confirm vote for {{ selected_candidate.state }} {{ selected_candidate.party }} candidate <b>{{ selected_candidate.full_name }}</b>?
                    <!--{{ selected_candidate.election.id }}-->
                </h2>
                <img src="{{ selected_candidate.avatar.url }}" id="confCandImg">
                <br>
                <button type="submit" class="btn btn-primary" value="confirm_candidate" onclick="confirmVote()" id="voteConf">
                    Confirm
                </button>
            </form>
        {% elif voted == 1 %}
            Your vote has been counted for this position!
            <br>
            <a href="{% url 'sffrg:position' selected_candidate.election.id %}">
                <button type="button" class="btn btn-outline-primary" id="elecButton">
                    Vote again
                </button>
            </a>
            <a href="{% url 'sffrg:election' %}">
                <button type="button" class="btn btn-outline-primary" id="elecButtonR">
                    Return to homepage
                </button>
             </a>

            <!--{{ selected_candidate.election }}-->
        {% endif %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type = "text/javascript">
   function confirmVote()
   {
        window.location.reload();
   }
</script>
{% endblock content%}
