body
{
	background: #000000;
    /*background-image: url("/static/assets/CustomGradient.png");*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    overflow-x: hidden;
	padding: 0;
	margin: 0;
}

ul
{
    padding: 0;
    padding-left: 20px;
    margin-bottom: 0;
    text-align: left;
    /*margin-top: 50px;*/
    /*float: left;*/

    /*line-height: 10px;*/
}

#main
{
    /*background: #4b515d;*/
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    /*background-image: url("/static/assets/smear2.jpg");*/
    /*background-image: url("/static/assets/CustomGradient.png");*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 10px rgba(0,0,0,0.24) inset;
    min-height: 100vh;
    height: 100%;
    width: 100vw;

    color: white;
}

#home
{
    text-decoration: none;
	color: #ffffff;
    font-size: 20px;
}

/*Hides button on desktop*/
#menu-toggle
{
    visibility: hidden;
}

/*Account and logout buttons viewable at the top of the page when on desktop*/
#inlineAccount
{
    /*position: absolute;*/
    text-decoration: none;
    color: #ffffff;
    position: absolute;
	padding: 0;
	padding-top: 7px;
	background: transparent;
    right: 25px;
    top: 0;
}

/*Title bar logout  Button*/
#inlineLogout
{
    /*position: absolute;*/
    text-decoration: none;
    color: #ffffff;
    position: absolute;
	padding: 0;
	padding-top: 7px;
	background: transparent;
    right: 125px;
    top: 0;
}


#logoutButton
{
    color: #ffffff;
    border-color: #ffffff;
}

#logoutButton:hover
{
    background: rgba(240, 48, 61, 0.7);
    border-color: transparent;
    color: black;
}

#accountButton
{
    color: #ffffff;
    border-color: #ffffff;
}

#accountButton:hover
{
    background: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    color: black;
}


#title_bar_Logo
{
    text-align: center;
}

/*Main background div used for the website*/
.mainContentWrapper
{
	background-image: url("/static/assets/CustomGradient.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /*Fallback for browsers that don't support 'vh'*/
    height: 100%;
    min-height: 100vh;
	padding-left: 0;
	padding-right: 0;
    /*padding-top: 50px;*/
	z-index: 1;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/*Determines how far the page content slides out the way when the menu is activated*/
.mainContentWrapper.toggled
{
	padding-left: 250px;
}

/*Width and characteristics of slide-out menu*/
#sidebar-wrapper
{
	/*z-index: 10;*/
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;

	/*background-image: url("/static/assets/dawn.jpg");*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    background-color:rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(10px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/*Changes menu width from none to defined width when triggered*/
.mainContentWrapper.toggled #sidebar-wrapper
{
	width: 250px;
}

/*Defines characteristics for title bar*/
#titleBar
{
    position:fixed;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 10px rgba(0,0,0,0.24) inset;
	transition: top .5s ease-in-out;

    background-color:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

/*Menu button that appears on mobile view*/
#menuIcon
{
	position: absolute;
	padding: 0;
	padding-top: 7px;
	background: transparent;
	margin-top: 4px;
	height: 42px;
	width: 42px;
	border-radius: 25px;
	/*border: 1px solid white;*/
	border: 1px solid transparent;
	opacity: .8;
	transition: all .5s ease-in-out;
}

#menuIcon:hover
{
	opacity: 1;
	/*background: #dbdbdb;*/
    /*backdrop-filter: blur(50px)#ffffff/*border: 1px solid #414c56;*/
	transition: all .2s ease-in-out;
}

#menuIcon:hover #menuLineTop
{
	width: 35%;
	background: #ffffff;
	transform: rotate(30deg)translate(6px, 1px);
}
#menuIcon:hover #menuLineMid
{
	background: #ffffff;
}
#menuIcon:hover #menuLineBot
{
	width: 35%;
	background: #ffffff;
	transform: rotate(-30deg)translate(6px, -1px);
}

#menuLineTop, #menuLineMid, #menuLineBot
{
	background: #ffffff;
	padding: 0;
	width: 50%;
	height: 2px;
	margin: 0 auto;
	margin-top: 5px;
	transition: all .2s ease-in-out;
}

/*When the sidebar is toggled, switch direction of button*/
.mainContentWrapper.toggled #menuIcon:hover #menuLineTop
{
	width: 35%;
	background: #ffffff;
	transform: rotate(-30deg)translate(-6px, 1px);
}

.mainContentWrapper.toggled #menuIcon:hover #menuLineBot
{
	width: 35%;
	background: #ffffff;
	transform: rotate(30deg)translate(-6px, -1px);
}

/* Sidebar content  */
.sidebar-nav
{
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li
{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #999999;
	transition: all .2s ease-in-out;
}

.sidebar-nav li a:hover
{
	text-decoration: none;
	color: #ffffff;
	background: #d32c42;
	transition: all .2s ease-in-out;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus
{
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand
{
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a
{
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover
{
	color: #fff;
	background: none;
}

/*Outer authentication div*/
#authenticationOuter
{
    height: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin: 0;
    /*border: 1px solid #ffffff;*/
}

/*Context boxes*/
#authenticationBox, #candidateBox
{
    /*position: relative;*/
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    /*border: 1px solid #ffffff;*/
    border-radius: 8px;
    overflow: hidden;
    background-color:rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(60px);
}

#candidateBox
{
    max-width: 850px;
}

#homeTitle
{
     margin-bottom: 25px;
}

#homeDescr
{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

#greeting
{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

#beginButton, #loginButton, #loginButton2
{
    color: #ffffff;
    border-color: #ffffff;
    width: 100%;
}

#loginButton2
{
    margin-top: 20px;
}

#beginButton:hover, #loginButton:hover
{
    background: #70de66;
    border-color: #70de66;
}

#registerButton
{
    color: #ffffff;
    background: transparent;
    border-color: #ffffff;
    width: 100%
}

#registerButton:hover
{
    background: #de8c66;
    border-color: #de8c66;
}

#fg
{
    margin-bottom: 0;
}

#voteCitizen
{
    padding: 0;
    margin: 0;
}

#InputEmail1, #InputPassword1, #InputNames, #InputNamesf, #InputUsername, #InputZip, #InputDob, #InputSSN, #InputGender, #InputStreet, #InputCity, #InputState
{
    opacity: 0.5;
    margin-bottom: 10px;
}


#authLabel
{
    float: left;
    text-align: left;
    font-size: 14px;
}

#regHelpText1
{
    /*float: left;*/
    text-align: left;
    color: #41ccfa;
}

#submitButton, #prevButton, #prevButton2, #nextButton1, #nextButton2, #acctSubmitButton
{
    color: #ffffff;
    background: transparent;
    border-color: #ffffff;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
}

#elecButton
{
    background: #48bf3d;
    border-color: #48bf3d;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
}

#elecButton:hover
{
    background: #70de66;
    border-color: #70de66;
    color: black;
}

#nextButton1:hover, #nextButton2:hover
{
    background: #41ccfa;
    border-color: #41ccfa;
}

#prevButton:hover, #prevButton2:hover
{
    background: #de8c66;
    border-color: #de8c66;
}

#submitButton:hover, #acctSubmitButton:hover
{
    /*background: #FD2F6F;*/
    /*border-color: #FD2F6F;*/
    background: #70de66;
    border-color: #70de66;
    color: black;
}

#candidateCard
{
    padding-top: 15px;
    background-color:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(60px);
}

#candImg
{
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 50%;
}

.card-body
{
    padding-top: 5px;
}

.card-title
{
    margin-bottom: 0px;
}

.card-text
{
    margin-bottom: 10px;
}

#lmP
{
    text-align: center;
    padding: 0;
    margin: 0;
}

#learnMore
{
    color: #57d5ff;
}

.modal-body
{
    color: black;
}

.modal-backdrop
{
    background-color:rgba(0, 0, 0, 0.4);
    /*background: transparent;*/
    backdrop-filter: blur(2px);
    /*z-index: -1;*/
}

#descriptionModal
{
    /*z-index: 1;*/
}

#footerDivider
{
    margin: 0;
    color: #ffffff;
    background: #000000;
}

#footerContent
{
    color: #ffffff;
    background: #000000;
    margin: 0;
    padding: 5px 5px 15px;
}




/*Handles mobile-specific views*/
@media (max-width : 500px)
{
    .sidebar-nav li a
    {
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    #inlineLogout, #inlineAccount
    {
        visibility: hidden;
    }

    #menu-toggle
    {
        visibility: visible;
    }

    #authenticationBox
    {
        padding: 20px;
        max-width: 550px;
    }

    #authLabel
    {
        font-size: 12px;
    }

    #registerButton
    {
        background: #de8c66;
        border-color: #de8c66;
    }

    #beginButton, #loginButton, #loginButton2
    {
        background: #70de66;
        border-color: #70de66;
    }

    #loginButton2
    {
        margin-top: 20px;
    }

    #prevButton, #prevButton2
    {
        background: #de8c66;
        border-color: #de8c66;
    }

    #nextButton1, #nextButton2
    {
        background: #41ccfa;
        border-color: #41ccfa;
    }

    #submitButton, #acctSubmitButton
    {
        /*background: #FD2F6F;*/
        /*border-color: #FD2F6F;*/
        background: #70de66;
        border-color: #70de66;
    }

    #InputEmail1, #InputPassword1, #InputNames, #InputNamesf, #InputUsername, #InputZip, #InputDob, #InputSSN, #InputGender, #InputStreet, #InputCity, #InputState
    {
        font-size: 12px;
        margin-bottom: 5px;
    }


}

