{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="authenticationOuter">
    <div class="container-fluid" id="authenticationBox">
        <h2>
            SFFRG
        </h2>
         <!-- When user clicks button, execute post request-->

         <form method="post">
             <!-- Django security token that expires on idle, needed for forms -->
             {% csrf_token %}
             <label for="InputEmail1" id="authLabel">Email address</label>
             <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

             <label for="InputPassword1" id="authLabel">Password</label>
             <input type="password" name="password" class="form-control" id="InputPassword1" placeholder="Password">

            <!-- If an error is raised, print it here -->
            {% for field in login_form %}
                <!-- If the field has help text, display it -->
                {% if field.help_text %}
                    <small style="color:grey;">
                        {{ field.help_text }}
                    </small>
                {% endif %}

                <!-- Shows errors if present-->
                {% for error in field.errors %}
                    <p style="color:red;">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endfor %}

            <!--If any non-field errors are present, do this-->
            {% if login_form.non_field_errors %}
                <div style="color:red;">
                    <p>
                        {{ login_form.non_field_errors }}
                    </p>
                </div>
            {% endif %}

             <!-- When clicked, execute submit, and do form action -->
            <button type="submit" class="btn btn-outline-primary" id="submitButton">
                Login
            </button>
         </form>
    </div>
</div>
{% endblock content%}