{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="authenticationOuter">
    <div class="container-fluid" id="authenticationBox">
        <h2>
            Registration Page
        </h2>
         <!-- When user clicks button, execute post request-->
         <form method="post">
             <!-- Django security token that expires on idle, needed for forms -->
             {% csrf_token %}

            <label for="InputEmail1" id="authLabel">Email address</label>
            <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

            <small>
                {{ registration_form.password2.errors }}
            </small>

             <div class="form-row">
                <div class="form-group col-6">
                    <label for="InputPassword1" id="authLabel">Password</label>
                    <input type="password" name="password1" class="form-control" id="InputPassword1" placeholder="Password">
                    <small style="color:red;">
                        {{ registration_form.password1.errors }}
                    </small>
                </div>
                <div class="form-group col-6">
                    <label for="InputPassword1" id="authLabel">Password Confirmation</label>
                    <input type="password" name="password2" class="form-control" id="InputPassword1" placeholder="Confirm Password">
                    <small style="color:red;">
                        {{ registration_form.password2.errors }}
                    </small>
                </div>
            </div>

             <div class="form-row">
                <div class="form-group col-4">
                    <label for="InputNames" id="authLabel">First Name</label>
                    <input type="firstName" name="first_name" class="form-control" id="InputNames" placeholder="First Name">
                    <small style="color:red;">
                        {{ registration_form.first_name.errors }}
                    </small>
                </div>
                 <div class="form-group col-4">
                    <label for="InputNames" id="authLabel">Middle Name</label>
                    <input type="middleName" name="middle_name" class="form-control" id="InputNames" placeholder="Middle Name">
                    <small style="color:red;">
                        {{ registration_form.middle_name.errors }}
                    </small>
                </div>
                <div class="form-group col-4">
                    <label for="InputNames" id="authLabel">Last Name</label>
                    <input type="lastName" name="last_name" class="form-control" id="InputNames" placeholder="Last Name">
                     <small style="color:red;">
                        {{ registration_form.last_name.errors }}
                    </small>
                </div>
            </div>

             <div class="form-row">
                 <div class="form-group col-6">
                     <label for="InputUsername" id="authLabel">Username</label>
                     <input type="username" name="username" class="form-control" id="InputUsername" aria-describedby="usernameHelp" placeholder="Username">
                      <small style="color:red;">
                        {{ registration_form.username.errors }}
                    </small>
                 </div>
                 <div class="form-group col-2">
                     <label for="InputZip" id="authLabel">Zip</label>
                     <input type="zip_code" name="zip_code" class="form-control" id="InputZip" placeholder="">
                      <small style="color:red;">
                        {{ registration_form.zip_code.errors }}
                    </small>
                 </div>
                 <div class="form-group col-4">
                     <label for="InputDob" id="authLabel">Date of Birth</label>
                     <input type="dob" name="dob" class="form-control" id="InputDob" placeholder="mm/dd/yyyy">
                      <small style="color:red;">
                        {{ registration_form.dob.errors }}
                    </small>
                 </div>
             </div>

             <!-- When clicked, execute submit, and do form action -->
            <button type="submit" class="btn btn-outline-primary" id="submitButton">
                Register
            </button>
        </form>
    </div>
</div>
{% endblock content%}